body{
        font-family: 'Instrument Sans', sans-serif;
        font-size: 62.5%;
}
p{
        color: crimson;
        font-size: 1.6em;
}
h3{
        color: crimson;
        font-size: 1.6em;
        
}
.formulario{
        margin-top: 10px;
        font-size: 1.6em;
        color: cornflowerblue;
}
#btnFormulario{
        border: none;
        background-color: #fff;
        font-size: 1.2em;
        color: cornflowerblue;
}
#btnFormulario:hover{
        color: rgb(243, 155, 22);
}
.formulario input{
        font-size: 1.2em;
        color: cornflowerblue;
}